<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}">dsjkffkyf</h1>
    </th:block>
    <a href="http://localhost:8080/cars">http://localhost:8080/cars</a><br/>
    <a href="http://localhost:8080/cars?count=2">http://localhost:8080/cars?count=2</a><br/>
    <a href="http://localhost:8080/cars?count=20">http://localhost:8080/cars?count=20</a><br/>
</div>
</body>
</html>